<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Pages", admin_pages_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Add</li>
  </ol>
</nav>
<%= render 'form', page: @page %>
