<% 
  add_breadcrumb "Pages", :admin_pages_path 
  add_breadcrumb @page.title, :admin_page_path
%>

<div class="card">
  <h5 class="card-header">Page</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p class="fw-bold">Title</p>
      <p class="fw-normal"><%= @page.title %></p>
    </li>
    <li class="list-group-item">
      <p class="fw-bold">Slug</p>
      <p class="fw-normal"><%= @page.slug %></p>
    </li>
    <li class="list-group-item">
      <p class="fw-bold">Content</p>
      <p class="fw-normal"><%= @page.content %></p>
    </li>
  </ul>
</div>
