
<ul class="ms-1 mt-1 nav nav-pills flex-column  mb-0 align-items-center align-items-sm-start" id="menu">
  <li class="nav-item mt-1">
    <a href="/admin/snippets" class="nav-link align-middle px-0">
      <i class="bi-ui-checks"></i>
      <span class="ms-2 fw-600 d-none d-sm-inline">Snippets</span>
    </a>
  </li>
</ul>      