
<ul class="admin-sidebar-menu" > 
  <% Tractor::Engine.config.sidebar_content_items.each do |item|  %>    
    <li >
      <a href="<%= item[:path] %>" >
        <i class="<%= item[:icon] %>"></i>
        <span ><%=item[:name] %></span>
      </a>
    </li>
  <% end %>
  


</ul>      