<ul class="admin-sidebar-menu" >
<li class="nav-item mt-1">
  <a href="/admin/users" class="nav-link align-middle px-0">
    <i class="bi-people"></i>
    <span class="">Users</span>
  </a>
</li>    
</ul>