<% 
  add_breadcrumb "Snippets", :admin_snippets_path 
  add_breadcrumb "Edit", :edit_admin_snippet_path
%>
<div class="card">
  <div class="card-body">
    <%= render 'form', snippet: @snippet %>
  </div>
</div>

