@import  'admin/actiontext.scss';

@import 'admin/customized_bootstrap.scss';

// // $bootstrap-icons-font-dir: '';
// //@import 'bootstrap-icons/font/bootstrap-icons';
// // doesnt work 
 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@import 'bootstrap';
@import 'admin/file_field';
@import 'admin/mde';



.bg-offwhite{
  background-color: #fbfbfc;
}
#media-finder{
  overflow-y: scroll;
  height: 500px;
}
.media-picker-item{
  border: 1px solid #eee;
  margin-top: 1em;
  cursor: pointer;
  img{
    border: none;
    width: 100% ;
  }
  .details{
    padding: 1em;
    h2{
      font-size: 1.1em;
      font-weight: normal;
    }
    .meta{
      color: #ccc;
      font-size: 10px;
      overflow-x: auto;
    }
  }

}
.trix-button-ss{
  background-color: white;
  border: 1px solid #bbb;
  border-top-color: #ccc;
  border-bottom-color: #888;
  border-radius: 3px;
  border-bottom: 1px solid #888 !important;
}
.dialog-results{
  padding: 2em 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
}
.link-finder{
  input[type="text"]{
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 1em;
    width: 100%;
  }
}

.list-group-item{

  margin-top: 5px;
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 1px solid #ccc !important;
  .menuitem{
    .subtle{
      float: right;
      color: #ccc;
      margin-right: 2em;
    }
    .actions{
      float: right;
      opacity: 0;
      transition: opacity .25s ease-in-out;
    }
    &:hover{
      .actions{
        opacity: 1
      }
    }
  }
}



.form-check{
  clear: both;
  small{
    padding-left: 1em;
  }
}
img.sit{
  max-width: 100%;
}



dl.dlgrid {
	display: grid;
	grid-template: auto / 10em 1fr;
  dt {
    // background: #fee;
  }
  
  dd {
    
  }
  
  dt, dd {
    margin: 0;
    padding: .3em .5em;
    border-top: 1px solid rgba(0,0,0,.1);
  }
}

dl.dl-columns{
  columns: 3;
  dt{
    font-size: 0.8em;
    
  }
  dd{
    font-size: 1.1em;;
    margin-bottom: 1.2em;
  }
}

td.actions{
  .btn{
    margin-bottom: 3px;
    display: block;
   }
  @include media-breakpoint-up(lg) { 
    white-space: nowrap;
    .btn{
      display: inline-block;
    }
   }
  
}

.overflow-x{
  max-width: 300px;
  overflow-x: scroll;
}


.admin-sidebar-menu{
  @extend .ms-1, .mt-1, .nav, .nav-pills, .flex-column, .mb-2, .align-items-center, .align-items-sm-start;
  li{
    @extend .mb-1;
    a{
     
      span{
        @extend .ms-2, .fw-600, .d-none, .d-sm-inline;
      }
    }
  }
}

.hint{
  font-style: italic;
  font-weight: 100;
}