<% 
  add_breadcrumb "Users", :admin_users_path 
  add_breadcrumb @user.email, :admin_user_path
  add_breadcrumb "Edit", :edit_admin_user_path
%>
<div class="card">
  <div class="card-header">
    <h4>Edit User</h4>
  </div>
  <div class="card-body">
    <%= render 'form', user: @user %>
  </div>
</div>


